.products-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   
}

@media only screen and (max-width:667px){
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
}