.optimize-container{
    display: grid;
    grid-template-columns: 5fr 7fr;
   
    margin-top: 50px;
    background: #dbe6d73b;
    padding: 20px;
}

.optimize-article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    align-items: center;
}

@media only screen and (max-width:667px){
    .optimize-container{
        grid-template-columns:repeat(1,1fr)
    }
}